{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.highcharts.com/5.0.12/highcharts.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/data.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/js/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-3d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

{% endblock %}

{% block content %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            {% block page_heading %}
                {{ super() }}
            {% endblock page_heading %}


        <div id="container2"></div>

<script>

var countries = {{ data|tojson|safe }};

var row_data = [[null, "Countries"]];

for (var i=0; i < countries.length; ++i) {
    row_data.push(countries[i]);
}

Highcharts.chart('container2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Most Active Countries'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    credits: {
        enabled: false
    },
    data: {
        rows: row_data
    }
});
</script>

<br/><br/>

<div id="container3"></div>

<script>

var submissions = {{ submissions|tojson|safe }};
var row_data = [[null, "Submissions"]];

for (var i=0; i < submissions.length; ++i) {
    row_data.push(submissions[i]);
}

var inet_domains = {{domains|tojson|safe}};

var n = 6;

console.log(inet_domains);

function get_inet_domains(md5) {
    for (var i=0; i < inet_domains.length; i++) {
        if (inet_domains[i][0] == md5) {
            return inet_domains[i][1];
        }
    }
}

Highcharts.chart('container3', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Submissions'
    },
    tooltip: {
        formatter: function() {
            console.log(this.point.name);
            var domains = get_inet_domains(this.point.name);
            if (domains != null) {
                return '<b>' + this.point.name + "<b>: " + get_inet_domains(this.point.name);
            }
            else {
                return 'No internet domains'
            }
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    credits: {
        enabled: false
    },
    data: {
        rows: row_data
    }
});
</script>

<br/><br/>

<div id="container4"></div>
<script>

var row_data = {{ submission_counts|tojson|safe }}

Highcharts.chart('container4', {

    chart: {
        type: 'line'
    },

    title: {
        text: 'Submissions Trends Over Time'
    },

    data: {
        rows: row_data
    },
    plotOptions: {
        series: {
            connectNulls: true
        }
    },
    credits: {
        enabled: false
    }
});

</script>

                </div>
            </div>
        </div>
 
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
 {% endblock %}

