{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.highcharts.com/5.0.12/highcharts.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/data.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/js/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-3d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        {% block page_heading %}
            {{ super() }}
        {% endblock page_heading%}

        <div class="row">
        
        <form action="/submit_malware" method="POST" id='md5form'>
          <div class="input-group-lg col-lg-8 offset-lg-5 center-block" style="left:15%;">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">#</span>
              <input type="text" name="md5" class="form-control" placeholder="MD5 / SHA1" aria-label="MD5">
              <span class="input-group-btn">
                  <input type="submit" class="btn btn-primary" value="Submit">
              </span>    
            </div>
          </div>
        </form>

        </div> <!-- /.row -->
        
        <div class="row">
            <h3 style="color:blue;font-family:courier;text-align:center"> VT-Ninja is a malware analysis engine</h3>
        </div>
        <br/>
        
        <div class="alert alert-info">
            <h5 style="color:blue;font-family:courier;"> <strong>Generate</strong>
                        locally a hash: MD5 or SHA1 of a file under investigation & 
                        <strong>submit it to the VT-Ninja</strong> to get over 60 AV signatures.</h5>
            <h6 style="color:blue;font-family:courier;">(If invalid MD5 entered, you will be prompted again.
                For a <strong>demo</strong>, you can copy-paste one of the MD5's from the table below)</h6>
            <h5 style="color:blue;font-family:courier;">  We will do the rest.</h5>
        </div>

        <div class="row"> 
        <div class="col-lg-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    </h3>
                </div>
                <div class="panel-body">
                    <h4 style="color:blue;font-family:courier;text-align:left"> Latest malware samples queried by users</h4>
                    <table class="table">
                      <thead class="thead-striped">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">MD5</th>
                          <th scope="col">User submitted</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for mal in malware %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td> {{ mal[0]  }}</td>
                            <td> {{ mal[1]  }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div> <!-- /.panel -->
            </div> <!-- /.col-lg-9 -->
        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->

{% endblock %}


