{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.highcharts.com/5.0.12/highcharts.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/data.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/js/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-3d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
{% endblock %}

{% block content %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            {% block page_heading %}
                {{ super() }}
            {% endblock page_heading%}

            <div class="row">
                <form action="/submit_malware" method="POST" id='md5form'>
                  <div class="input-group-lg col-lg-8 offset-lg-5 center-block" style="left:15%;">
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon1">#</span>
                      <input type="text" name="md5" class="form-control" placeholder="MD5 / SHA1" aria-label="MD5">
                      <span class="input-group-btn">
                          <input type="submit" class="btn btn-primary" value="Submit">
                      </span>    
                    </div>
                  </div>
                </form>

            </div> <!-- /.row -->


        <div class="row">
            <div class="col-lg-10">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    </h3>
                </div>
                <div class="panel-body">
                <h3 style="color:blue;font-family:courier;"> File Metadata</h3>
                <table class="table">
                  <tbody>
                    <tr>
                        <th> {{ "MD5" }}</th>
                        <td> {{ report.md5  }}</td>
                    </tr>
                     <tr>
                        <th> {{ "SHA256" }}</th>
                        <td> {{ report.sha256  }}</td>
                    </tr>
                    <tr>
                        <th> {{ "SHA1" }}</td>
                        <td> {{ report.sha1  }}</td>
                    </tr>
                    <tr>
                        <th> {{ "Scan_date" }}</th>
                        <td> {{ report.scan_date  }}</td>
                    </tr> 
                    <tr>
                        <th> {{ "Verbose_msg" }}</th>
                        <td> {{ report.verbose_msg  }}</td>
                    </tr>
                    <tr>
                        <th> {{ "Permalink" }}</th>
                        <td> {{ report.permalink  }}</td>
                    </tr> 
                    <tr>
                        <th> {{ "Total_scans" }}</th>
                        <td> {{ report.total  }}</td>
                    </tr>
                    <tr>
                        <th> {{ "Positives"}}</th>
                        <td> {{ report.positives  }}</td>
                    </tr>
                  </tbody>
                </table>
                </div> <!-- /.panel-body -->
            </div> <!-- /.panel -->
        </div> <!-- /.col-lg-12 -->
    </div> <!-- /.row -->

         

  <div class="row">
    <div class="col-lg-12">
        <div class="panel">
          <div class="panel-body">
            <h3 style="color:blue;font-family:courier;"> Antivirus engines results</h3>
            <table class="table">
              <thead class="thead-striped">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">AV</th>
                  <th scope="col">Detected</th>
                  <th scope="col">Version</th>
                  <th scope="col">Result</th>
                  <th scope="col">Update</th>
                </tr>
              </thead>
              <tbody>
                {% for scan in report.scans %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td style='font-family:courier;'> {{ scan  }}</td>
                    {% if report.scans[scan].detected == True %}
                        <td style='color:green;'> {{ report.scans[scan].detected  }}</td>
                    {% elif report.scans[scan].detected == False %}
                        <td style='color:red;'> {{ report.scans[scan].detected  }}</td>
                    {% endif %}
                    <td> {{ report.scans[scan].version  }}</td>
                    <td> {{ report.scans[scan].result  }}</td>
                    <td> {{ report.scans[scan]['update']  }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> <!-- /.panel-body -->
      </div> <!-- /.panel -->
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->


</div> <!-- /.container-fluid -->
</div> <!-- /#page-wrapper -->

 {% endblock %}


