<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}VT-Ninja</title>
    
        <!-- Bootstrap Core CSS -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
        <!-- Custom CSS -->
        <link href="static/css/sb-admin.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-git.min.js"></script>
        
        <!-- Custom Fonts -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
        
           <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    {% endblock %}
</head>

  <body bgcolor="#383636">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top"  style="background-image:none;background-color:#0a4f70;" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <h3 style="color:#fff;text-align:center;display:table-cell;">VT<span style="color:#010821">-Ninja</span></h3>
                </a>
                <!-- <a class="navbar-brand" href="index.html">Email Campaign Identification</a> -->
            </div>
            <!-- Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens #0d3e49 #052a33-->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" style="background-image:none;background-color:#0a4f70;">
                    <li class="">
                        <a href="/home"><i class="fa fa-fw fa-cogs"></i> Analysis</a>
                    </li>
                
                    <li>
                        <a href="/users"><i class="fa fa-fw fa-user"></i> Users</a>
                    </li>
                    <li>
                        <a href="/charts"><i class="fa fa-fw fa-pie-chart"></i> Charts</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    <!-- jQuery -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    
    <div id="content" style="background-color:#fff;" >
        {% block content %}
        <!-- Page Heading -->
            {%  block page_heading %}
            <div class="row">
                <div class="col-lg-12">
                     <h2 class="page-header" style="margin-top:20px;">
                         <i class="fa fa-fw fa-user-secret"> </i>  VT-Ninja <small>Malware landscape </small>
                     </h2>
                </div>
            </div>
            <!-- /.row -->
            {% endblock page_heading %}
        {% endblock content %}
    </div>
    
  </div>
  <!-- /.wrapper -->

  </body>

</html>
