<!DOCTYPE html>
<html>
<style>

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #1a609e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#signupbtn {
    background-color: #12468e;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
</style>
<body bgcolor="#2c2e38">

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<form action="/login" method="POST">
  <div class="imgcontainer" style="width:30%; margin:auto;">
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/582405-200.png" alt="Avatar" class="avatar">
  </div>

  <div class="container" style="width:20%;margin:auto;">
    <input type="text" pattern=".{6,30}" title="6 to 30 characters" placeholder="Username" name="username" required>
    <input type="password" pattern=".{8,30}" title="8 to 30 characters" placeholder="Password" name="password" required>
    <button type="submit" id='loginbtn' value='loginbtn' name='loginbtn'>Log In</button>
    <button type="submit" id='signupbtn' value='signupbtn' name='signupbtn'>Sign Up</button>
  </div>

</form>
{% endif %}
{% endblock %}

</body>
</html>


