{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.highcharts.com/5.0.12/highcharts.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/drilldown.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/5.0.12/modules/data.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.12/js/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/5.0.12/highcharts-3d.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
{% endblock %}

{% block content %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                {% block page_heading %}
                    {{ super() }}
                {% endblock page_heading%}

                <script src="https://code.highcharts.com/highcharts.js"></script>
                
                <br/>
                <div class="row">
                    <div class="col-lg-12"
                        <div class="panel">
                            <div id="container" class='text-center'></div>
                        </div>
                    </div>
                </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

    <script>
        /* Reading in list of dicts passed
            from flask as a template param 
        */
        var users = {{ data|tojson|safe }};
        console.log(users);

        var row_data = [[null, "Users"]];

        console.log(users[0]);

        for (var i=0; i < users.length; ++i) {
            row_data.push(users[i]);
        }

        console.log(row_data);

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Most Active Users by Submission Count',
                style: {
                    color: '',
                    fontWeight: ''
                }
            },
            credits: {
                enabled: false
            },
            data: {
                rows: row_data
            }

        });
    </script>
    
    {% endblock %}

